body {
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: rgb(247, 250, 252);
    /*width: 50%;*/
}

.welcome-text {
    color: #f75454;
    font-weight: 600;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    padding: 100px;
    border: 5px solid #f75454;
}

.welcome-text > span {
    font-size: 2.1rem;
    text-shadow: 3px 3px #fbbcbc;
}

.small-welcome-text {
    color: #f75454;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 1px;
}
/* Margin */
.margin-Top {
    margin-top: 100px;
    overflow-x: hidden !important;
    /* min-height: 72vh; */
}
.margin_right-5 {
    margin-right: 20px;
}
.custom-btn {
    background-color: #e9ecef !important;
    color: #000000 !important;
    border: none !important;
    font-size: 1.5rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    outline: none !important;
}
.custom-btn:focus,
.custom-btn:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.custom-button-default {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #f75454 !important;
    color: #fff !important;
}
.custom-button-default:focus,
.custom-button-default:active {
    color: #fff !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.link-active {
    /* border-bottom: 1px solid #fff; */
    color: #fff !important;
    display: block;
    padding: 0.5rem 1rem;
    /* text-decoration: none; */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}
.custom-title-hiden {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-text-red {
    color: red !important;
    font-weight: 600 !important;
}
.custom-text-white {
    color: white !important;
    /* font-weight: 600 !important; */
}
/*Button*/
.btn-info {
    cursor: pointer !important;
}

/*HEADER*/
/* .card-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
} */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    border-top-style: solid;
    -o-border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff)
        3;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.header-logo {
    width: 2%;
    height: auto;
    margin-right: 10px;
}
/* ONSALE */
.carousel-control-next,
.carousel-control-prev {
    width: 4% !important;
}
.carousel-control-prev {
    left: -10px !important;
}
.on-sale-mt {
    margin-top: 110px;
}
.on-sale {
    border: 1px solid rgba(91, 91, 98, 0.28);
    border-radius: 5px;
}
.btn-on-sale {
    border: none;
    width: 4% !important;

    cursor: pointer;
}
.btn-slide-on-sale {
    font-size: 2.5rem;
    color: #000000;
}

.btn-view-all {
    /* padding-left: 26% !important; */
    display: flex;
    justify-content: flex-end;
}

/*CARD ITEM*/
.card-img-top {
    /*padding-top: 100%;*/
    height: 250px !important;
    background-size: cover;
    background-position: center;
}
.card {
    text-decoration: none !important;
    color: #1a202c;
    min-height: 75%;
}

.card-text-custom {
    margin: 0;
}
.card:hover {
    color: #1a202c;
    box-shadow: 1px 1px 1px #9ba4a6;
}

.card-title-custom {
    font-size: 1rem !important;
    height: 40px !important;
    margin: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body-item-custom {
    height: 120px !important;
    padding: 0.4rem 1rem;
}
.star-body {
    text-align: center;
}
.star-checked {
    color: orange;
}
.card-book-price {
    margin-right: 8%;
}
.card-book-price-detail {
    margin-top: 15px !important;
    font-size: 1.5rem !important;
}
.text-muted.card-price-discount {
    color: red !important;
    font-weight: 600;
    font-size: 1.2rem;
}
.image-card {
    height: 130px !important;
}
/*FEATURED */
.featured-btn {
    text-align: center;
}
.btn-featured-link {
    text-decoration: none !important;
    color: #333 !important;
}
.active-featured {
    background-color: #0dcaf0 !important;
}
/* SHOPPAGE */

.shop-page {
    margin-top: 100px;
}
.shop-page-filter-header {
    text-align: center;
}
.shop-page-filter {
    padding-left: 35px !important;
}
.shop-page-filter-category {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    overflow-y: auto;
    height: 250px;
}

.btn-shop-page-product {
    display: flex;
    justify-content: right;
    /* background-color: #f75454 !important; */
}
.btn-shop-page-product-sort {
    margin-right: 10px;
    background-color: #f75454 !important;
}
.btn-primary {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #f75454 !important;
    color: #fff !important;
}
.dropdown-toggle.filterByShopPage {
    background-color: none !important;
}
/* PRODUCT PAGE */

.product-page-quantity {
    display: flex;
    justify-content: center;
    /* height: 80%; */
}
.product-btn-add-cart {
    width: 100%;
    margin-top: 30px;
}
/* CART */

.btn-cart-quantity {
    font-size: 1.1rem !important;
}
.alertAddCart {
    position: fixed;
    top: 10%;
    right: 1%;
    z-index: 1060;
}
.card-body-containt {
    overflow-y: auto;
    height: 500px !important;
}
.custom-carttotal {
    height: 20rem !important;
}
/* ABOUT */

.about-page {
    height: 70vh;
    margin-top: 100px;
    color: #000000;
}
.about-title {
    margin-left: 40px !important;
    margin-right: 40px !important;
    border-bottom: 1px solid #333;
}

/* PAGINATION */
.pagination-wrapper {
    display: flex;
    justify-content: center;
}
